.logo img {
  width: 120px;
}

.navbar {
  z-index: 1;
}

.nav-link {
  border-bottom: 1px solid rgba(0, 0, 0 ,0);
  transition: border-bottom 800ms;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.nav-link:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.photo {
  z-index: -1;
  background-color: black;
  height: 100%;
  width: 100%;
  min-height: 545px;
}

.typing-container {
  font-size: 45px;
  font-family: 'Rajdhani', sans-serif;
  position: absolute;
  top: 45%;
  right: 83%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: greenyellow;
  border: thick;
}

.input-cursor {
  height: 45px;
  display: inline-block;
  width: 2px;
  background-color: white;
  margin-left: 2px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
0% {opacity: 1;}
40% {opacity: 1;}
60% {opacity: 0;}
100% {opacity: 0;}
}

.portfolios {
  position: relative;
  top: 750px;
  z-index: 0;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 35px;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 0px;
}

.portfolio {
  padding: 0px;
  width: 270px;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolioOne {
  background-image: url(./images/Screenshot\ 2021-07-25\ 111450.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioTwo{
  background-image: url(./images/api-image\ \(1\).jpg);
  background-position: 30% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioThree{
  background-image: url(./images/shoppingcartimage.jpg);
  background-position: 24% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioFour{
  background-image: url(./images/airbnbnewscloneimage.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioFive{
  background-image: url(./images/markus-spiske-QOuHmf0_qqk-unsplash.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioSix{
  background-image: url(./images/rockpaperscissorsimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioSeven{
  background-image: url(./images/newsweekcloneimage1.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.portfolioEight{
  background-image: url('./images/Screenshot 2021-07-30 122405.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
}

.title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  margin: 0px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.certificates {
  position: relative;
  margin-top: 900px;
  margin-bottom: 100px;
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: cursive;
}

.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

h2 {
  font-family: cursive;
}

.fab {
  font-size: 60px;
  color: #1a1a1a;
}

.contact {
  background-image: url(./images/jess-bailey-l3N9Q27zULw-unsplash\ \(1\).jpg);
  background-position: center;
  background-size: 600px;  
  font-size: 20px;
  font-family: 'Bad Script', cursive;
}

/*
Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/