body, html {
  height: 100%;
}

.logo img {
  width: 120px;
}

.nav-link {
  border-bottom: 1px solid rgba(0, 0, 0 ,0);
  transition: border-bottom 800ms;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.nav-link:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.photo {
  z-index: -1;
  background-color: black;
  height: 100%;
  width: 100%;
  min-height: 545px;
}

.typing-container {
  font-size: 45px;
  font-family: 'Rajdhani', sans-serif;
  position: absolute;
  top: 45%;
  right: 83%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-cursor {
  height: 45px;
  display: inline-block;
  width: 2px;
  background-color: white;
  margin-left: 2px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
0% {opacity: 1;}
40% {opacity: 1;}
60% {opacity: 0;}
100% {opacity: 0;}
}

.placeholder {
  height: 300px;
  width: 300px;

}

.portfolio {
  position: relative;
  top: 1000px;
  padding-top: 7px;
  z-index: 2;
  border: thick;
  border-color: tomato;
}
.portfolio-row {
  padding-top: 40px;
  margin: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}